.dps-dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  padding-bottom: 60px;
  background: white;
  min-height: calc(100vh - 125px - 200px);
}

.dps-dashboard__top {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 12px;
  background-color: var(--dpsLightGrey);
  border-radius: var(--borderRadius);

  &__details {
    position: relative;
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: space-between;
    font-size: var(--fontSizeMedium);
    color: var(--fontColorDark);
    font-weight: 600;
    padding: 5px 0;

    &__home-icon {
      position: absolute;
      top: 0;
      left: 0;
      width: 60px;
      height: 100%;
      background: url("../assets/home-white.svg") var(--dpsMediumGrey);
      background-position: center center;
      background-repeat: no-repeat;
      background-size: 40%;
      border-radius: var(--borderRadius) 0 0 var(--borderRadius);
      cursor: pointer;

      @media (max-width: 480px) {
        width: 100%;
        height: 45px;
        background-size: 7%;
        border-radius: var(--borderRadius) var(--borderRadius) 0 0;
      }
    }

    &__user-details {
      display: grid;
      grid-template-columns: auto auto auto auto;
      align-items: center;
      justify-content: flex-start;
      height: 100%;
      padding-left: 50px;
      flex-grow: 1;

      & > * {
        display: flex;
        align-items: center;
        margin-left: 25px;
        padding: 10px 0;
      }

      & span {
        margin-right: 10px;
        cursor: default;
      }

      & .user-icon-name {
        background-image: url("../assets/user-grey.svg");
      }

      & .user-icon-phone {
        background-image: url("../assets/phone.svg");
      }

      & .user-icon-mail {
        background-image: url("../assets/mail.svg");
      }

      & .user-icon-road {
        background-image: url("../assets/home-grey.svg");
      }

      @media (max-width: 1024px) {
        grid-template-columns: auto auto;
      }

      @media (max-width: 768px) {
        grid-template-columns: auto;

        & > * {
          padding: 5px 0;
        }
      }

      @media (max-width: 480px) {
        height: 100%;
        padding: 50px 0 0 0;
        flex-grow: 1;
      }
    }

    &__edit {
      display: flex;
      justify-content: flex-end;
      color: var(--fontColorMedium);
      padding-right: 20px;
      transition: color 0.3s ease;
      cursor: pointer;

      & span {
        margin-right: 5px;
      }

      & .user-icon-edit {
        background-image: url("../assets/edit.svg");
      }

      &:hover {
        color: var(--fontColorDark);
      }

      @media (max-width: 480px) {
        justify-content: flex-start;
        width: 100%;
        padding: 25px 0 8px 25px;
      }
    }

    @media (max-width: 480px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }
}

.dps-dashboard__main {
  margin-top: 12px;
  display: flex;
  flex-direction: row;

  @media (max-width: 1024px) {
    flex-direction: column-reverse;
  }
}

.dps-dashboard__portfolio {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-right: 12px;
  min-height: 50vh;
  padding: 24px;
  background: var(--dpsLightGrey);
  border-radius: var(--borderRadius);

  &__head {
  }

  // &__head {
  //   position: absolute;
  //   display: flex;
  //   align-items: center;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 7vh;
  //   padding-left: 20px;
  //   font-size: var(--titleSizeLarge);
  //   color: white;
  //   box-sizing: border-box;
  //   background-color: var(--dpsBlue);
  //   border-radius: var(--borderRadius) var(--borderRadius) 0 0;
  //   border-bottom: 5px solid var(--dpsGreen);
  // }

  &__main {
    color: black;
  }

  @media (max-width: 1024px) {
    margin: 12px 0 0 0;
  }
}

.dps-dashboard__right__top {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 12px;
  background: var(--dpsLightGrey);
  border-radius: var(--borderRadius);

  &__payment-flex {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    @media screen and (max-width: 1024px) and (min-width: 769px) {
      flex-direction: row;
    }
  }

  &__payment-status {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
    color: white;
    border-radius: var(--borderRadius);

    &__sum {
      font-weight: 600;
    }

    &.status-red {
      background: var(--redWarning);
    }

    &.status-green {
      justify-content: center;
      background: var(--greenOk);
    }
  }

  &__button {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 12px 0;
    padding: 12px;
    box-sizing: border-box;
    color: var(--fontColorDark);
    background: white;
    border: 1px solid #eeeeee;
    border-radius: var(--borderRadius);
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.02);
    transform: translateY(0px);
    transition: all 0.3s ease;
    cursor: pointer;

    &:hover {
      border: 1px solid #cccccc;
      box-shadow: 3px 3px 4px 1px rgba(0, 0, 0, 0.06);
      transform: translateY(-1px) scale(1.01);
      transition: all 0.3s ease;
    }

    @media screen and (max-width: 1024px) and (min-width: 769px) {
      margin: 0 0 0 12px;
      flex-direction: row;
    }
  }

  &__links {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 6px;
    margin-top: 6px;
    box-sizing: border-box;
    color: var(--fontColorMedium);
    cursor: pointer;

    & > * {
      transition: color 0.3s ease;

      &:hover {
        color: var(--fontColorDark);
      }
    }
  }

  @media (max-width: 1024px) {
    width: auto;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.dps-dashboard__right__bottom {
  display: block;
  width: 300px;
  padding: 12px;
  margin-top: 12px;
  height: calc(100% - 82px - 24px);
  background: var(--dpsLightGrey);
  border-radius: var(--borderRadius);

  @media (max-width: 1024px) {
    width: auto;
  }
}
