<div class="dps-dashboard">
  <div class="dps-dashboard__top">
    <div class="container">
      <div class="dps-dashboard__top-details">
        <div class="dps-dashboard__top-details__home-icon"></div>
        <div class="dps-dashboard__top-details__user-details">
          <div><span class="dps-icon user-icon-name"></span>Jonathan Smith-Robertson</div>
          <div><span class="dps-icon user-icon-phone"></span>* 1234</div>
          <div><span class="dps-icon user-icon-mail"></span>* @dentalclinic.co.uk</div>
          <div><span class="dps-icon user-icon-road"></span>Teignmouth Road</div>
        </div>
        <div class="dps-dashboard__top-details__edit">
          <span class="dps-icon user-icon-edit"></span>Edit
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="dps-dashboard__main">
      <h1>Change your car insurance policy</h1>
      <div class="insurance-block">
        <div class="insurance-block__head">
          <div class="insurance-block__head__left"></div>
          <div class="insurance-block__head__right">
            <h3>DG20 TOC</h3>
            <p class="overflow">2019 Volkswagen, Tiguan SE Nav 4Motion TSI 150 DSG Line...</p>
          </div>
        </div>
        <div class="insurance-block__details">
          <div class="insurance-block__details__block">
            <h4>Policy number:</h4>
            <p>AOL12410241</p>
          </div>
          <div class="insurance-block__details__block">
            <h4>Starts:</h4>
            <p>22/12/2020 00:00</p>
          </div>
          <div class="insurance-block__details__block">
            <h4>Ends:</h4>
            <p>22/12/2021 23:59</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
