<nav class="dps-navbar">
  <div class="container">
    <div class="dps-navbar__logo"></div>
    <div class="dps-navbar__right">
      <div class="hamburger-holder">
        <div class="hamburger-icon"></div>
      </div>
      <div class="dps-navbar__right-top">
        <div class="dps-navbar__right-top__last-login font-color-medium">
          Last logged in: 26-03-2021 14:04:21
        </div>
        <div class="dps-navbar__user-name">Jonathan Smith-Robertson<span class="dps-icon"></span></div>
      </div>
      <div class="dps-navbar__right-bottom">
        <div class="dps-navbar__right-bottom__link">New Illustration</div>
        <div class="dps-navbar__right-bottom__dropdown">More Actions <span class="dropdown-icon"></span></div>
        <div class="dps-navbar__right-bottom__search" contenteditable="true">Search... <span class="search-icon"></span></div>
    </div>
  </div>
</nav>
